<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="portfolio.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Bienvenido a nuestro Portfolio</h1>
<div class="Portfolio">
    <h2>Nuestros Mejores Trabajos!</h2>
    <main class="productos">
<div class="producto">
<h2>Proyecto de venta de camisetas "PIEL DE POTRERO"</h2>
<button>abrir</button>
</div>
<div class="producto">
<h2>Landing Page "PLATENSEMANIA"</h2>
<button>abrir</button>
</div>
<div class="producto">
<h2>Landing page "INFINTE MACHINE"</h2>
<button>abrir</button>
</div>
</div>
</div>

<div class="github">
    <button>github de Pinto</button>
    <button>github de Delsabio</button>
    <button>github de Gabutti</button>
    <button>github de Felissia</button>
</div>
<footer class="footer">
    Hecho por Gabutti, Pinto, Delsabio, Felissia
</footer>

</body>
</html>