<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shop</title>
  <link rel="stylesheet" href="project.css">
</head>
<body>

  <header class="header">
    <div class="logo">PORTFOLIO</div>
    <nav class="nav">
      <a href="#">Inicio</a>
      <a href="#">Proyectos</a>
      <a href="#"></a>
      <a href="#"></a>
    </nav>
  </header>

  <section class="banner">
    <h1>Bienvenidos al Portfolio!</h1>
    <p>Delsabio, Felissia, Pinto, Gabutti</p>
  </section>

  <main class="productos">
    <div class="producto">
      <h2>"Piel de potrero"</h2>
      <p>Venta de Camisetas de Futbol Argentino...</p>
      <button>Mas detalles...</button>
    </div>
    <div class="producto">
      <h2>"PlatenseMania"</h2>
      <p>Landing Page de Club Atletico Platense...</p>
      <button>Mas detalles...</button>
    </div>
    <div class="producto">
      <h2>"Infinite Machine"</h2>
      <p>Landing Päge...</p>
      <button>Mas detalles..</button>
    </div>
    
  </main>
  <div class="extra-boton">
  <button type="button" onclick="window.location.href='https://github.com/eze000111'">Github Pinto</button>
  <button type="button" onclick="window.location.href='https://github.com/francodelsabio'">Github Delsabio</button>
  <button type="button" onclick="window.location.href='https://github.com/santyss3'">Github Felissia</button>
  <button type="button" onclick="window.location.href='https://'">Github Gabutti</button>
 
    </div>
   


  <footer class="footer">
    <p>© 2025 Portfolio. Todos los derechos reservados.</p>
  </footer>

</body>

</html>
